
.card-menu {
    border-radius: 20px !important;
    max-height: 140px;
    min-height: 140px;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px !important;
}

.card-menu-icone {
    min-height: 40px;
}

.card-menu-titulo {
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
}

.card-menu-subtitulo {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.24444em !important;
    color: rgb(72, 72, 72) !important;
}

/*MOBILE*/
@media (max-width: 959px) {

    .card-menu{
        max-height: 130px;
        min-height: 130px;
    }

    .card-menu-titulo{
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 1.28571em !important;
    }

    .card-menu-subtitulo{
        font-size: 12px !important;
        line-height: 1.28571em !important;
    }

}