
<main>
    <section class="section">
        <div class="container my-container">
            <div class="row">
                {% for item in SERVICOS %}
                    <div class="col-12 col-sm-12 col-lg-4 p-1 ciCardServico" onclick="window.location.href = './{{ item.CONTROLLER}}/'">
                        <div class="card servico-card">
                            <div class="row servico-item">
                                <div class="col-2 col-sm-3 col-md-2 servico-icone">
                                    <div class="servico-div">
                                        <span class="mdi {{ item.ICONE}}" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-9 col-md-10">
                                    <div class="servico-div">
                                        <div class="servico-titulo">{{ item.TITULO}}</div>
                                        <div class="servico-descricao">{{ item.DESCRICAO}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
