# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
#/dist

# IA`S
/GEMINI.md
/.claude
/.github
/CLAUDE.md
/ARCHITECTURE.md
/DEVELOPMENT.md
/CODEX.md
/TESTING.md
/.planning/*
/.kilo
/plans
/docs
/.kilocode
/.superpowers


# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
.idea/*
.cursor/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode/*
!/.vscode/launch-example.json
!/.vscode/settings-example.json

.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# PASTAS
/public/error_log
/public/assets/upload/pessoa/*
/vendor
/node_modules
/templates/tmp
/cache
/docker/volumes/mysql
/logs


# ARQUIVOS IGNORADOS
/config/productionConfig.php
!/public/assets/upload/img/pessoa/default.png
!/logs/default.log
