<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule \.(pdf)$ - [F]

# Redirecionar diretamente arquivos estáticos para a pasta public
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png|gif|ico|css|js|svg|webp|mp4|woff|woff2|ttf|eot|map)$
RewriteRule (.*) public/$1 [L]

# Redirecionar todas as outras requisições para a pasta public
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]
</IfModule>

# Bloquear acesso a arquivos sensíveis
RedirectMatch 404 /\.git
RedirectMatch 404 /README.md
RedirectMatch 404 /composer.json
RedirectMatch 404 /composer.lock
RedirectMatch 404 /.gitignore
RedirectMatch 404 /docs
RedirectMatch 404 /logs
RedirectMatch 404 /docker




