<IfModule mod_rewrite.c>
    RewriteEngine On

    # Bloquear acesso a arquivos PDF diretamente
    RewriteRule \.(pdf)$ - [F]

    # Redirecionar arquivos estáticos diretamente para a pasta public
    RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png|gif|ico|css|js|svg|webp|mp4|woff|woff2|ttf|eot|map|json)$
    RewriteRule (.*) public/$1 [L]

    # Redirecionar raiz e qualquer outra URL para a public/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Bloquear acesso a arquivos e pastas sensíveis
RedirectMatch 404 /\.git
RedirectMatch 404 /README\.md
RedirectMatch 404 /composer\.(json|lock)
RedirectMatch 404 /\.gitignore
RedirectMatch 404 /(docs|logs|docker)