networks:
  mynet:
    external: true
services:
  php:
    #build:
    #context: ./
    #dockerfile: ./docker/Dockerfile-php82
    restart: always
    image: brunobmorais/php8.4-apache
    volumes:
      - ./:/var/www/html
      - ./docker/config/apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
      - ./docker/config/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    ports:
      - "80:80"
    networks:
      - mynet
    extra_hosts:
      - "host.docker.internal:host-gateway"
  mysql:
    image: mysql:latest
    command:
      #--default-authentication-plugin=mysql_native_password
      #--mysql-native-password=ON
      --sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
    restart: always
    volumes:
      #- ./docker/volumes/mysql/database:/var/lib/mysql
      - ./docker/config/mysql/dump/database.sql:/docker-entrypoint-initdb.d/dump.sql
    networks:
      - mynet
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: viaesporte
      MYSQL_USER: user
      MYSQL_PASSWORD: user
      TZ: America/Sao_Paulo