<nav class="navbar navbar-expand-lg navbar-bg nav-down fixed-top navbar-dark" id="navbar">
    <div class="container">
        <div class="col">
            <a id='topoVoltar' href='javascript:void(0)' class='float-start text-white {{btnVoltar}}' onclick="history.back()"><span class='mdi mdi-24px mdi-chevron-left'></span></a>
            <a href="/" class="navbar-brand"><img alt="logo" src="/assets/img/logo_white.png" height="35px"/> </a>
        </div>
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item dropdown">
                {% if  primeiroNome %}
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle text-white"  data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-18px mdi-account"></i>
                        <span class="font-weight-light">{{primeiroNome ?: 'Fulano'}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-navbar dropdown-menu-end">
                        <li> <p class="dropdown-header">Olá, {{primeiroNome ?: 'Fulano'}}</p></li>
                        <li>
                            <a href="/" class="dropdown-item font-weight-light">
                            <i class="mdi mdi-18px mdi-view-grid-outline"></i> Início</a>
                        </li>
                        <li><a href="/usuario/meusdados" class="dropdown-item font-weight-light">
                            <i class="mdi mdi-18px mdi-account-outline"></i> Meus dados</a>
                        </li>
                        <li><a href="/sistema/privacidade" class="dropdown-item font-weight-light">
                            <i class="mdi mdi-18px mdi-lock-outline"></i> Termo de uso</a>
                        </li>
                        <li>
                            <div class="dropdown-item font-weight-light">
                                <i class="mdi mdi-18px mdi-brightness-5"></i> Modo escuro
                                <label class="custom-switch mt-2 float-end">
                                    <input type="checkbox"
                                           class="custom-switch-input" onchange="modeDark()"
                                           id="checkboxModeDark"
                                           value="1">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li><a href="/usuario/logoff" class="dropdown-item font-weight-light">
                            <span class="mdi mdi-18px mdi-logout"></span> Sair da conta</a>
                        </li>
                    </ul>
                {% else %}
                    <a href="/usuario/login" class="nav-link text-white" aria-expanded="false">
                        <i class="mdi mdi-24px mdi-account-lock-open"></i>
                        <span class="font-weight-light">Entrar</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
