<main class="view-navbar">
    <div class="text-center container">
        <div class="d-grid gap-2 col-12 mx-auto">
            <div class="col-12 text-center">
                <img src="/assets/img/svg/erro_500.svg?v={{configVersionCode}}" class="img-responsive" height="200px"/>
            </div>
            <div class="mt-3">
                <h3>500 - Ooopsss! Estamos com problema interno, já ja voltamos</h3>
            </div>
            <div class="input-group-btn">
                <a href="/" class="btn btn-primary">
                    Página incial
                </a>
            </div>
            <div class="mt-3">
                <a href="/"><img src="/assets/img/logo.png" height="30px"></a>
            </div>
        </div>
    </div>
</main>

