<div class="row">
    <div class="form-group col-12 col-md-12 float-left">
        <label>Justificativa</label>

        <textarea {{ options }} name='justificativa' id='justificativa' class='form-control'></textarea>
        <div class="invalid-feedback">
            Preencha o campo corretamente
        </div>
    </div>
</div>
