{% extends "gestaopessoas/modal-skeleton.twig" %}


{% block content_modal %}
		<input name="CODFUNCIONARIO_BANCO" id='codfuncionario_banco' hidden>
		<input  id='secao' value='banco' hidden>

		<input type='text' name="acao" id='acao' hidden>
		<div class="row">
			<div class="form-group col-12 col-md-12 float-left">
				<x-input.selecttwo name="CODBANCO" label="Banco Financeiro" optionValue="CODBANCO" optionLabel="NOMELONGO" :object="getDaos('GpBancoDao', 'buscarTodos')"/>
				<div class="invalid-feedback">
					Preencha o campo corretamente
				</div>
			</div>
		</div>

		<div class="row p-0">
			<div class="form-group col-12 col-md-6 float-left">
				<label>Tipo de Conta</label>
				<select name="TIPOCONTA" id="tipoconta" class="form-control" placeholder="Tipo de conta" required>
					<option selected disabled value=''>Selecione um tipo</option>
					<option value="Conta-Corrente">Conta-Corrente</option>
					<option value="Conta-Poupança">Conta-Poupança</option>
					<option value="Conta-Salário">Conta-Salário</option>
				</select>
				<div class="invalid-feedback">
					Preencha o campo corretamente
				</div>
			</div>

			<div class="form-group col-12 col-md-3 float-left">
				<label>Agência</label>
				<input name="AGENCIA" id="agencia" minlenght='3' maxlength='16' class="form-control" placeholder="Agência" required>
				<div class="invalid-feedback">
					Preencha o campo corretamente
				</div>
			</div>

			<div class="form-group col-12 col-md-3 float-left">
				<label>Número da Conta</label>
				<input name="CONTA" id="conta" type="text" class="form-control" minlenght='3' maxlength='16' placeholder="Conta" required>
				<div class="invalid-feedback">
					Preencha o campo corretamente
				</div>
			</div>

		</div>

		<div class="row p-0">
			<div class="col-12 d-flex flex-row ">
				<div class="form-group col-12 col-md-12 float-right d-inline-flex justify-content-between ">

					<label class="custom-switch me-3">
						<input type="checkbox" class="custom-switch-input" name="SITUACAO" id="situacao">
						<span class="custom-switch-indicator"></span>
						<span class="custom-switch-description-right">Ativo</span>
					</label>


				</div>
			</div>
		</div>
{% endblock %}


{% block script_modal %}
	<script>

	// Limpar Modal para Cadastro
		function abrirModalCadastro(){
			$("#formFuncionarios").trigger("reset");
			$('#acao').val('cadastrar_banco');
			$('#situacao').attr('checked', true);
			$('#tituloModalGP').html('Cadastrar Conta Bancária') ;
			$('#btnSubmit').html('Cadastrar') ;
						$('#codbanco').val(null);
		updateSelect2('Selecione um correspondente bancário')


			{% if (SERVICO.ALTERAR=="1") %}
				$("#btnExcluir").attr("hidden",true);
			{% endif %}


			$("#modalFuncionarios").modal ('show');
		}

	//Abrir modal preenchido
		function fillModal (data) {
			console.log(data) ;
			$('#btnSubmit').html('Salvar') ;
			$("#formFuncionarios").trigger("reset");
			$('#tituloModalGP').html('Editar ' + data.TIPOCONTA) ;

			var dependente = data;

			$('#codfuncionario').val(data.CODFUNCIONARIO);
			$('#codfuncionario_banco').val(data.CODFUNCIONARIO_BANCO);
			$('#acao').val('editar_banco');
			$('#agencia').val(data.AGENCIA);
			$('#situacao').attr('checked', (data.SITUACAO == '1' ? true : false) );
			$('#conta').val(data.CONTA);
			$('#tipoconta').val(data.TIPOCONTA);
			$('#codbanco').val(data.CODBANCO);
		updateSelect2('Selecione um correspondente bancário')

			{% if (SERVICO.ALTERAR=="1") %}
				$("#btnExcluir").attr("hidden",false);
			{% endif %}

		}

		function excluir(){

			Swal.fire({
				title: 'Deseja excluir esse item?',
				text: 'Uma vez deletado, você não poderá recuperar este arquivo!',
				type: 'question',
				showCancelButton: true,
				confirmButtonColor: '#2AB164',
				confirmButtonText: 'Sim',
				cancelButtonText: 'Não',
			 })
			.then((result) => {
				if (result.value) {
					$('#acao').val('excluir_banco');
					submitForm("btnExcluir", "formFuncionarios")
				}
			});



		}
	</script>
{% endblock %}



