<footer class='d-none d-lg-block pt-3'>
    <div class='col-12 text-center'>
    Desenvolvido por {{ nameFull }}<br>
    <a href='/sistema/privacidade' class='btn btn-sm btn-link'>Termo de Uso e Privacidade</a>
    </div>
</footer>

<link rel="stylesheet" type="text/css" href="/assets/plugin/cookieconset/cookieconsent.min.css" />
<script src="/assets/plugin/cookieconset/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#fff",
                "text": "#66666e"
            },
            "button": {
                "background": "{{ CONFIG_COLOR["color-primary"] }}"
            }
        },
        /*"position": "bottom-right",*/
        "content": {
            "message": "Usamos cookies para garantir que você obtenha a melhor experiência no nosso site.",
            "dismiss": "Entendi!",
            "link": "Termos de uso e privacidade",
            "href": "/sistema/privacidade"
        }
    });
</script>
