<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Cupom Aplicado: </strong>{{ cupom }}
    <input type="hidden" name="CODCUPOM" id="codcupom" value="">
    <input type="hidden" name="TIPO_CUPOM" id="tipoDesconto" value="">
    <input type="hidden" name="VALOR_CUPOM" id="valorDesconto" value="">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

