
<main id="app">
    <section class="section">
        <div class="container pt-1">
            <div class="text-center">
                <div class="page-inner">
                    <img src="/assets/img/svg/erro_500.svg" height="200px"/>
                    <div class="text-center pt-4">
                        <h1 class="h1-title">Oooops, Estamos com um problema para executar essa ação</h1>
                        <h6>Tente novamente mais tarde!</h6>
                    </div>
                    <div class="pt-4">
                        <div class="input-group-btn">
                            <a href="/" class="btn btn-primary">
                                Voltar
                            </a>
                        </div>
                    </div>
                    <div class="pt-5">
                        <a href="/"><img src="/assets/img/logo.png" height="30px"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

