<div class="card shadow-1 {{ class|default("") }}">
    {% if title | length > 0 %}
        <div class="card-header">
            <h4>{{ title }}</h4>
        </div>
    {% endif %}
    <div class="card-body">
        <div class="col p-2">
            {{ slot }}
        </div>
    </div>
</div>