@media (max-width: 576px) {

    .view-navbar{
        margin-top: 70px;
        margin-bottom: 9px;
    }

    .card-menu{
        border-radius: 8px !important;
        max-height: 130px;
        min-height: 130px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
    }

    .scroll-horizontal {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .scroll-horizontal::-webkit-scrollbar {
        display: none;
    }
    .scroll-horizontal-item {
        flex: 0 0 auto;
        flex-wrap: nowrap;
    }

    .my-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .h1-title {
        font-weight: 600;
        color: #000000!important;
        font-size: 20px !important;
        padding-left: 8px;
        padding-bottom: 5px;
        padding-top: 10px;
    }
}