/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
@import url(https://fonts.googleapis.com/css??lang=pt-BR&family=Google+Sans:400,500,600,700%7CRoboto:400,500600,700%7CProduct+Sans:400,700%7C&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);/**

/*FONTE DOS TEXTOS*/
* {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;
}
button {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;

}
a {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;
}


/*FOOTER NO FINAL DA TELA*/
body {
    background: #F5F6FA;
    height:100vh;
    margin:0;
    font-size: 14px;
}
footer{ min-height:50px;}
body{display:flex; flex-direction:column;}
footer{margin-top:auto; !important; margin-bottom: 50px !important;
}

.main{
    margin-top: 97px
}

.btn-table {
    z-index: 99999;
    padding: 2px 6px !important;
    margin: 0 !important;
}

.icon-table {
    min-width: 80px !important;
    max-height: 50px !important;
    max-width: 80px !important;
}

.navbar-bg {
    height: 60px;
    /*position: fixed;*/
    /*left: 0px;*/
    /*z-index: 999;*/
    background: #fff;
    /*top: 0;*/
    transition: top 0.3s ease-in-out;
    /*box-shadow: inset 0 -1px 0 #dcdcdc;*/
    box-shadow: -1px 10px 50px 0 rgba(173, 179, 191, .4);
}

.navbar-bm {
    background: var(--cor-bg-principal);
    border-color: var(--cor-bg-principal);

}

.navbar-bm .open > a, .navbar-bm .open > a:hover, .navbar-bm .open > a:focus {
    background: var(--cor-bg-principal-hover);
}

.nav li a:hover {
    background: var(--cor-bg-principal-hover);
}

.nav li a:visited {
    background: var(--cor-bg-principal-hover);
}

/*TESTE COM NOVO BREADCRUMB*/

.breadcrumbNovo {
    margin-top: 55px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-size: 13px;
    line-height: 25px;
    background: #FCD6A9;
    width: 100%;
    height: 32px;
    position: fixed;
    z-index: 999;
}

.breadcrumbNovo li {
    float: left;
}

.breadcrumbNovo li a {
    color: white;
    text-decoration: none;
    padding: 6px 6px 6px 18px;
    background: brown; /* fallback color */
    background: hsla(34, 85%, 35%, 1);
    position: relative;
    display: block;
    float: left;
}

.breadcrumbNovo li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 32px solid transparent;
    border-left: 19px solid hsl(34, 85%, 34%);
    position: absolute;
    top: 100%;
    margin-top: -32px;
    left: 100%;
    z-index: 2;
}

.breadcrumbNovo li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent; /* Go big on the size, and let overflow hide */
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumbNovo li:first-child a {
    padding-left: 10px;
    z-index: 100;
}

.breadcrumbNovo li:nth-child(2) a {
    background: hsla(34, 85%, 45%, 1);
    z-index: 99
}

.breadcrumbNovo li:nth-child(2) a:after {
    border-left-color: hsla(34, 85%, 45%, 1);
    z-index: 99
}

.breadcrumbNovo li:nth-child(3) a {
    background: hsla(34, 85%, 55%, 1);
    z-index: 98
}

.breadcrumbNovo li:nth-child(3) a:after {
    border-left-color: hsla(34, 85%, 55%, 1);
    z-index: 98
}

.breadcrumbNovo li:nth-child(4) a {
    background: hsla(34, 85%, 65%, 1);
    z-index: 97
}

.breadcrumbNovo li:nth-child(4) a:after {
    border-left-color: hsla(34, 85%, 65%, 1);
    z-index: 97
}

.breadcrumbNovo li:nth-child(5) a {
    background: hsla(34, 85%, 75%, 1);
    z-index: 96
}

.breadcrumbNovo li:nth-child(5) a:after {
    border-left-color: hsla(34, 85%, 75%, 1);
    z-index: 96
}

.breadcrumbNovo li:last-child a {
    background: none !important;
    color: #A5630D;
}

.breadcrumbNovo li:last-child a:after {
    border: 0;
}

.breadcrumbNovo li a:hover {
    background: hsla(34, 85%, 25%, 1);
}

.breadcrumbNovo li a:hover:after {
    border-left-color: hsla(34, 85%, 25%, 1) !important;
}

.navbar-toggle {
    padding: 9px 10px;
    background: white;
}

.navbar-toggle span {
    background: var(--cor-bg-principal);
}

.meu-badge {
    text-align: center;
    font-size: .7em;
    font-weight: 700;
    background: #fff;
    color: var(--cor-bg-principal);
    top: -12px;
    left: -3px;
    position: relative;
    padding: 0 3px;
}

.cada-item {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: .85em;
    margin: .15em;
    text-align: center;
    color: #fff;
    padding: 0;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.cada-item:hover {
    cursor: pointer;
}

.corServico {
    background: #005050;
}

.servico {
    background: #0e7a7a;
    border-radius: 8px;

}

.servico:hover {
    background: #005050;
}

.subServico {
    background: #006b00;
}

.corSubServico {
    background: #004800;
}

.subServico:hover {
    background: #004800;
}

.cada-item a {
    text-decoration: none;
    color: #fff;
}

.cada-item:hover a {
    color: #666;
}

.cada-item-img {
    float: left;
    min-height: 50px;
}

.img-icone-sm {
    height: 30px;
    width: 30px;
}

.img-icone-md {
    height: 45px;
    width: 45px;
}

.cadaNoticia {
    margin-bottom: .18em;
    height: 91px;
    overflow: hidden;
}

.noticiaTexto {
    text-align: left;
    font-size: .9em;
    color: #fff;
    padding-left: .3em;
    background: #cb6817;
    height: 91px;
    font-weight: normal;
}

.cadaNoticia:hover .noticiaTexto {
    background: #853c00;
    cursor: pointer;
}

.cadaNoticia .data {
    background: #853c00;
    color: #fff;
    padding: 0;
    text-align: center;
}

.mioloNoticias {
    background: #fff;
}

.noticias:hover {
    box-shadow: 1px 1px 1px #ccc;
}

.noticias .noticiaTexto {
    background: #fff;
    color: #005050;
    font-weight: bold;
}

.noticias .dataDia {
    background: #005050;
    color: #fff;
}

.noticias .data {
    background: #005050;
    color: #fff;
}

.noticias:hover .noticiaTexto {
    background: #fff;
}

.noticias:hover .dataDia {
    color: #fff;
}

.noticias:hover .data {
    background: #005050;
}

.dataNum {
    height: 61px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 700;
}

.dataDia {
    height: 30px;
    background: #853c00;
    font-size: .8em;
}

.painelNoticias {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    background: #fff;
}

.moduloTitulo {
    padding: 0 2px;
}

.modTitulo {
    display: block;
    background: #005050;
    height: 60px;
    margin-bottom: .2em;
    border-bottom: 0;
    font-size: 1.2em;
    color: #fff;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
}

.mtTexto {
    height: 60px;
    padding: 10px 1px;
    float: left;
    font-weight: 700;
    font-size: .9em;
    overflow: hidden;
    width: calc(100% - 120px);
    text-align: left;
}

/*ESTILO PADRAO PARA PAGINAS MODULOS PRINCIPAIS - PAGINA PADRAO COM BARRA DE TITULO E SERVICOS*/
/*icone e botao voltar da barra de titulo dos modulos principais*/
.mtIcone, .mtVoltar {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    vertical-align: middle;
}

.mtIcone {
    float: left;
}

.mtVoltar {
    float: right;
}

.mtVoltar:hover, .mtIcone:hover {
    background: #0E7A7A;
    cursor: pointer;
}

.buttonBack {
}

.buttonBack:hover {
    background: #063333;
    cursor: pointer;
}

.botaoRodape {
    display: inline-block;
    height: 30px;
    background: none;
    border-radius: 0;
    color: #666;
}

.botaoRodape:hover {
    background: var(--cor-bg-principal);
    color: #fff;
    text-decoration: none;
}

.rodapeBarraBotoes {
    min-height: 30px;
    background: #eee;
    overflow: auto;
}

/*ESTILO PARA A LISTA DE ANIVERSARIANTES*/
.cadaAniversariante {
    background: var(--cor-bg-principal);
    height: 80px;
    overflow: hidden;
    margin-bottom: .1em;
    padding: 0;
    color: #fff;
}

.ca-img {
    background: none;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    border-left: 1px solid #fff;
}

.ca-img img {
    height: 60px;
}

.ca-nome {
    font-size: .9em;
    padding-top: .6em;
}

.ca-data {
    background: #850000;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.tituloAniv {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
    background: #850000;
    color: #fff;
    margin-bottom: .2em;
}

.niverHoje {
    background: #850000;
    color: #fff;
    font-weight: 700;
}

.niverHoje .ca-data {
    color: #fff;
}

.niverHoje .ca-img {
    color: #fff;
}

.niverHoje .ca-nome {
    font-size: 1em;
}

/*ESTILO PARA GRID (TABLES) TABELAS EM GERAL*/
/*ESTILO PARA BARRAS DE STATUS - ONDE FICAM O NUMERO DA PAGINA, BOTOES PRA EXCLUIR E BOTOES PRA PASSAR PAGINA*/
.barraStatusTabela {
    /*trata-se da tabela (table) ja que essa barra superior é uma tabela inteira...*/
    width: 100%;
    color: #6c757d;
    font-size: 13px;
    padding: 0;
    margin: 0;
    font-weight: 500;

}

.footer .tdBarraStatus {
    padding: 0;
}

.bstLinha {
    /*cada bst é uma das celulas*/
    height: 36px;
    padding: 0;
}

.bstNumPagina {
    text-align: center;
}

.bstInput input {
    height: 28px;
    width: 2em;
    text-align: center;
}

.bstInput {
    text-align: right;
}

.bstSetasPagina {
    min-width: 44px;
}

.bstSetasPagina button {
    color: var(--cor-bg-secodary);
    height: 36px;
    width: 20px;
    background: none;
    border: none;
    padding: 0 .2em;
    margin: 0;
}

.bstSetasPagina button:hover {
    color: #fff;
    background: var(--cor-bg-secodary)
}

.bstBotoes .bstBotao {
    color: #6c757d;
    background: none;
    border: none;
    padding: .5em;
    margin: 0;
    height: 36px;
    font-weight: 500;
}

.bstBotoes .bstBotao:hover {
    background: var(--cor-bg-secodary);
    color: #fff;
}

.bstBotoes .bstApagar:hover {
    background: #843534;
}

.grid tr td {
    padding: 0;
}

.grid .par, .grid .impar, .grid .checked {
    font-size: 12px;
    border-bottom: 1px solid #eee;
    height: 34px;
    cursor: pointer;
}

.grid .par:hover, .grid .impar:hover {
    background: #f8f8f8;
}

.grid {
    width: 100%;
}

.grid td {
    padding-left: 1%;
}

.grid .checked {
    background: var(--cor-bg-principal);
    color: #fff;
}

tr.footer {
    background: #0E7A7A;
    color: #fff;
}

table.footer {
    width: 100%;
}

table .tableHeader td {
    height: 30px;
    color: #fff;
}

table .tableHeader .btn-padrao {
    background: none;
    color: #fff;
}

table .tableHeader .btn-padrao:hover {
    background: #005050;
}

table .header {
    /* BARRA ONDE FICA OS NOMES DAS COLUNAS */
    background: #ddd;
}

tr.header > td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0;
}

table.gridb {
    width: 100%;
}

/*FIM DO ESTILO PARA GRID (TABLES)*/

/*ESTILO PARA OS BOTOES*/
/*.btn {
    border-radius: 0;
    !*padding-left: .1em;*!
    margin: .1em;
}*/

.btn-padrao {
    margin: .3em 0 .1em 0;
    padding: .5em .3em;
    text-align: center;
    background: #0E7A7A;
    color: #fff;
}

.btn-padrao:hover {
    color: #fff;
    background: #33978b;
}

.btn-padrao:focus {
    color: #fff;
    background: #027d6f;
}

.btn-padrao:active {
    color: #fff;
    background: #027d6f;
}

.btn-padrao:after {
    color: #fff;
    background: #01473d;
}

.btn-pesq {
    margin-top: 0;
}

/*BOTÃO VERMELHO - EXCLUIR*/
.btn-perigo {
    color: #fff;
    font-weight: bold;
    background: var(--cor-bg-principal);
    margin: .3em 0 .1em 0;
    padding: .5em .3em;
    text-align: center;
}

.btn-perigo:hover {
    background: #770707;
    color: #fff;
}

.btn-perigo:focus {
    background: var(--cor-bg-principal);
    color: #fff;
}

/*ESTILO PADRAO PARA PAGINAS*/

.tituloPagina {
    background: #005050;
    display: block;
    min-height: 40px;
    line-height: 30px;
    margin-bottom: 0;
    border-bottom: 0;
    padding-left: .5em;
    font-size: 1.3em;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.subTitulo {
    background: #0E7A7A;
    color: #fff;
    padding-left: .5em;
    min-height: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin-bottom: 8px;
    overflow: auto;
    border-radius: 8px;
}

.subTitulo a {
    cursor: pointer;
    color: #fff;
}

.subTitulo a:hover {
    text-decoration: none;
    background: #005050;
}

.formBarraBotoes {
    float: right;
    padding: 0;
    margin: 0;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.formBarraBotoes .inputTexto {
    margin-left: 0;
    height: 36px;
    border: none;
    margin: 4px 2px 1px 2px;
    padding: 0 .3em;
    float: left;
    color: #666;
    text-align: center;
}

.formBarraBotoes .inputBusca {
    width: 185px;
}

.rotuloTitulo {
    background: #eee;
    padding: .5em;
    font-size: 15px;
    margin-bottom: .5em;
}

.btnEsq {
    margin-left: .3em;
}

.formBarraBotoes .inputTexto:focus {
    border: none;
}

.form-horizontal {
    padding-top: 15px;
}


.botoesPagina {
    background: #005050;
    display: block;
    min-height: 42px;
    color: #fff;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    overflow: auto;
    border-radius: 0px 0px 8px 8px;

}

.botoesPagina .btn-padrao {
    margin: .3em 0 .1em 0;
    padding: .5em .3em;
    text-align: center;
    background: #0E7A7A;
    color: #fff;
}

.botoesPagina .btn-padrao:hover {
    color: #fff;
    background: #33978b;
}

.botoesPagina .btn-padrao:focus {
    color: #fff;
    background: #027d6f;
}

.botoesPagina .btn-padrao:active {
    color: #fff;
    background: #027d6f;
}

.botoesPagina .btn-padrao:after {
    color: #fff;
    background: #01473d;
}

.botoesPagina .inputSelect {
    z-index: 99999;
    color: #666;
    border: 0;
    width: 148px;
    float: right;
    height: 36px;
    border: none;
    margin: .3em .1em .1em .3em;
    padding: 0 .3em;
    font-size: 12px;
    background: #fff;
}

/*BOTOES PAGINA INFERIOR*/
.botoesPaginaInferior {
    background: #005050;
    min-height: 42px;
    color: #fff;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.botoesPaginaInferior .btn-padrao {
    margin: .3em 0 .1em 0;
    padding: .5em .3em;
    text-align: center;
    background: #0E7A7A;
    color: #fff;
}

.botoesPaginaInferior .btn-padrao:hover {
    color: #fff;
    background: #33978b;
}

.botoesPaginaInferior .btn-padrao:focus {
    color: #fff;
    background: #027d6f;
}

.botoesPaginaInferior .btn-padrao:active {
    color: #fff;
    background: #027d6f;
}

.botoesPaginaInferior .btn-padrao:after {
    color: #fff;
    background: #01473d;
}

.emailLinhaTitulo {
    height: 25px;
    background: #eee;
    color: #666;
    font-size: .9em;
}

.emailLinhaTitulo td {
    padding: .2em 0;
}

.emailLinhaTitulo td input {
    width: 80%;
}

.emailLinhaTitulo .emailTitulo {
    padding-left: .2em;
    font-weight: bold;
    width: 20%;
}

.emailMensagem {
    height: 250px;
    background: #fafafa;
    vertical-align: top;
    padding-top: 1em;
}

.emailMensagem td {
    padding: 1em;
}

.form-control {
    border-radius: 0;
}

/*PARTE DAS TABS DO CADASTRO PESSOAL*/

/*.nav-tabs li a {
    background: #0E7A7A;
    color: #fff;
    padding: 8px 7.5px;
}

.nav-tabs li:hover a {
    background: #005050;
    color: #fff;
}*/

.nav-item .nav-link.active {
    font-weight: 600;
}

.tab-pane {
    margin-top: .4em;
}

.container-fluid {
    min-height: 400px;
}

/*ESTILO DO RODAPÉ*/
.rodapeTextoBase {
    font-size: 11px;
    text-align: center;
    padding: 0;
}

.divTabela {
    overflow: auto;
}

.control-texto {
    padding-top: 7px;
}

.pad0 {
    padding: 0;
}

.padh2 {
    padding-left: 2px;
    padding-right: 2px;
}

.padh4 {
    padding-left: 4px;
    padding-right: 4px;
}

.padl0 {
    padding-left: 0;
}

.margb4 {
    margin-bottom: 4px;
}

.margb10 {
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.cadavtrservico {
    padding-top: .5em;
    padding-bottom: 1.2em;
    background: #fcfcfc;
    border-radius: .3em;
    margin: 5px 0;
    border: 1px solid #f6f6f6;
}

.cadavtrservico:hover {
    background: #f6f6f6;
}

.excluirtag {
    color: white;
    padding: 2px;
    padding-left: 6px;
    font-family: "Arial Black", arial-black;
}

.excluirtag:hover {
    text-decoration: none;
    color: white;
}

.etiqueta {
    background: #666;
    padding: 3px;
    margin: 1px 0;
    font-size: .9em;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: inherit;
    vertical-align: baseline;
    cursor: default;
}

.etiqueta:hover {
    background: #444;
}

.btncircle {
    background-color: #aaa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: none;
}

.btncircle:hover {
    background-color: #666;
}

.btncircle-xs {
    font-size: 10px;
    width: 22px;
    height: 22px;
}

@media (max-width: 768px) {
    .cvs-img img{
        max-width: 70px !important;
    }
}

/*CONFIGURAÇÃO DE TABELA*/
@media only screen and (max-width: 577px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 0.7px solid #c7c7c7; }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 0.5px solid #dcdcdc;
        padding-left: 35%;
        white-space: normal;
        text-align:left;
        width: 100% !important;
        height: 100% !important;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: calc(100% / 12);
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #no-more-tables td:before {
        content: attr(data-title);}

    #no-more-tables td[data-title]:before {
        content: attr(data-title);
        margin-top: 3px;
        font-size: 0.8em;
        line-height: 18px;
    }

    #no-more-tables td.semtitle {padding-left:10px; padding-right:10px; display:block !important; text-align: center}
    #no-more-tables a {width: 100%; margin-top:5px;  }
}
/*FIM LAYOUT TABELA*/


.view-navbar{
    margin-top: 10px;
    margin-bottom: 5px
}

.header-title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-title-page{
    letter-spacing: 0.8px;
}

.title-page{
    font-family: 'Poppins', sans-serif !important;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.breadcrumb {
    display: block !important;
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 7px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.breadcrumb::-webkit-scrollbar {
    display: none;
}
.breadcrumb .breadcrumb-item {
}
.breadcrumb .breadcrumb-item i {
    margin-right: 5px;
}
.breadcrumb-item-custom {
    display: inline;
}
.breadcrumb-item-custom a{
    font-family: 'Poppins', sans-serif !important;
    color: #757575;
    vertical-align: middle;
    text-transform: none;
    text-decoration: none;
    font-weight: 600;
}
.breadcrumb-item-custom-active a{
    font-family: 'Poppins', sans-serif !important;
    color: #757575 ;
    font-weight: 600;
    vertical-align: middle;
    /*line-height: 0px;*/
}
.breadcrumb-custom{
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 10px;
    padding-left: 0px;
    padding-top: 0;
}

.h1-title {
    font-family: 'Poppins',sans-serif!important;
    font-weight: 600;
    color: #000000!important;
    font-size: 22px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 10px;
}

/* MOBILE */
@media (max-width: 992px) {
    .title-page{
        font-size: 18px;

    }

    .breadcrumb-custom{
        font-size: 9px;
    }

    .my-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .h1-title {
        font-family: 'Poppins',sans-serif!important;
        font-weight: 600;
        color: #000000!important;
        font-size: 20px !important;
        padding-left: 8px;
        padding-bottom: 5px;
        padding-top: 10px;
    }
}