.text-primary {
    color: var(--mycolor-link) !important;
}

.btn {
    font-size: 0.875rem;
    font-weight: 500;
}

.btn.active {
    display: inline-block;
}

/*BTN PRIMARY*/
.btn-primary {
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--mycolor-primary), .5);
}

.btn-primary{
    border-radius: 15px;
    background-color: var(--mycolor-primary);
    border-color: var(--mycolor-primary);
    box-shadow: 0 2px 6px #b9b9b9;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--mycolor-primary-hover) !important;
    border-color: var(--mycolor-primary-hover) !important;
}

.btn-primary:focus, .btn-primary.disabled:focus {
    background-color: var(--mycolor-primary-hover) !important;
}

.btn-primary:focus:active, .btn-primary.disabled:focus:active {
    background-color: var(--mycolor-primary-hover) !important;
}


.btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
    background-color: var(--mycolor-primary-hover) !important;
    border-color: var(--mycolor-primary-hover) !important;
}

/*BTN SECONDARY*/
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary, .btn-outline-danger, .btn-outline-success, .btn-outline-warning, .btn-outline-info, .btn-outline-dark, .btn-outline-light    {
    border-radius: 15px;
}

.btn-secondary, .btn-danger, .btn-success, .btn-warning, .btn-info, .btn-dark, .btn-light    {
    border-radius: 15px;
}

/*BTN OUTLINE*/
.btn-outline-primary, .btn-outline-primary.disabled {
    border-radius: 15px;
    border-color: var(--mycolor-primary);
    color: var(--mycolor-primary);
}

.btn-outline-primary:focus, .btn-outline-primary.disabled:focus {
    background-color: var(--mycolor-primary-hover) !important;
}

.btn-outline-primary:focus:active, .btn-outline-primary.disabled:focus:active {
    background-color: var(--mycolor-primary-hover) !important;
}

.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary.disabled:active, .btn-outline-primary.disabled:hover {
    background-color: var(--mycolor-primary-hover) !important;
}

/*BTN LINK*/
.btn-link {
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--mycolor-link);
}

.btn-link:focus, .btn-link.disabled:focus {
    color: var(--mycolor-primary);
}

.btn-link:focus:active, .btn-link.disabled:focus:active {
    color: var(--mycolor-primary);
}

.btn-link:active, .btn-link:hover, .btn-link.disabled:active, .btn-link.disabled:hover {
    color: var(--mycolor-primary);
}

label.btn.btn-link {
    --bs-btn-color: var(--mycolor-primary);
}

/*ESTILO PARA FORMULARIO - BOTAO DE UPLOAD */
.btnInputFile {
    width: auto;
    height: 35px;
    position: relative;
    overflow: hidden;
    background: var(--mycolor-primary);
    padding: 0;
    color: #fff;
    background-color: transparent;
    color: var(--mycolor-primary);
    line-height: 33px;
    border-radius: 14px;
    border: 1px solid var(--mycolor-primary);
    font-size: 12px;
}

.btnInputFile:hover {
    background: var(--mycolor-primary);
    background-color: var(--mycolor-primary);
    color: #ffffff;
}

.btnInputFile div {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    font-weight: 600;

}

.btnInputFile div {
    cursor: pointer;

}

.btnInputFile input {
    position: absolute;
    right: 30px;
    /*z-index: 2;*/
    font-size: 100px; /* Aumenta tamanho do campo */
    opacity: 0;
    filter: alpha(opacity=0);
}

/*LINK*/
a {
    color: var(--mycolor-primary);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: var(--mycolor-primary-hover);
}

/* Colors of the buttons*/
.button-active, .selectors button:hover, .selectors button:active, .selectors button:focus {
    background-color: transparent !important;
    color: var(--mycolor-primary);
    line-height: 16px;
}

.button-inactive {
    color: #000;
    line-height: 16px;
}

.btn-sm {
    font-size: 12px;
}

/* MOBILE */
@media (max-width: 992px) {

}
