:root {
                --cor-bg-principal: #039050;
                --cor-bg-principal-hover: #039050;
                --cor-bg-secodary: #676767;
                --cor-bg-link: #039050;
                --cor-bg-navbar: #039050;
                }