:root {
                --cor-bg-principal: #1A6CDD;
                --cor-bg-principal-hover: #124694;
                --cor-bg-secodary: #676767;
                --cor-bg-link: #1A6CDD;
                --cor-bg-navbar: #1A6CDD;
                }