/*CARD*/
.row {
    margin: 0 !important;
}

.card {
    -webkit-box-shadow: 0 0 40px rgb(0 0 0 / 5%);
    box-shadow: 0 0 40px rgb(0 0 0 / 5%);
    background-color: var(--mycolor-card);
    border-radius: 15px;
    border: none;
    position: relative;
}

.card .card-header {
    min-height: 40px;
    padding: 1px 15px;
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    background: transparent;
}

.card .card-header h4 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 2px 0 -2px 0;
    line-height: 30px;
}

.card .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.card-primary {
    border-top: 2px solid var(--mycolor-primary) !important;
}

/*FIM CARD*/

.card-border {
    border: 1px solid #dedede;
}

/* CARD SERVICO */
.servico-icone {
    color: #6c757d;
    font-size: 3em;
    text-align: center;
}

.servico-titulo {
    margin-left: 5px;
    font-size: .95em;
    color: #151515;
    font-weight: 500;
}

.dark-mode .servico-titulo {
    color: #fff;
}

.servico-descricao {
    font-weight: 300;
    margin-left: 5px;
    font-size: .75em;
    color: #6b6b6b;
}

.dark-mode .servico-descricao {
    color: #cecece !important;
}

.servico-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.servico-item {
    height: 65px;
    margin: 5px;
    cursor: pointer;
    /*box-shadow: 0 0 15px rgba(0, 0, 0, .1);*/
    border-radius: 10px;
    text-decoration: none;
}

.servico-card {
    background-color: var(--mycolor-card);
    border-radius: 15px;
    /*border: 1px solid #dedede;*/
    position: relative;
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;

}

.card-radius {
    border-radius: 8px !important;
}

.card-border-left-info {
    border-left: 3px solid #0dcaf0 !important;
}

.card-border-left-danger {
    border-left: 3px solid #fd3550 !important;
}

.card-border-left-success {
    border-left: 3px solid #15ca20 !important;
}

.card-border-left-warning {
    border-left: 3px solid #ffc107 !important;
}

.card-item-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.card-widgets-icons-2 {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 27px;
    border-radius: 10px;
}

.card-rounded-circle {
    border-radius: 50% !important;
}

.card-margin-left-auto {
    margin-left: auto !important;
}

/* MOBILE */
@media (max-width: 992px) {

}

