/*MENU INFERIOR*/
.navigation-menu-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: auto;
    z-index: 999;
}

.navigation-menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #AAACB8;
    text-decoration: none;
    line-height: 1.1;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.navigation-menu-item:hover {
    background-color: #eeeeee;
}

.navigation-menu-item-active {
    color: #000000;
}

.navigation-menu-text{
    font-size: 12px;
    font-weight: 300;
}

.navigation-menu-item-icon {
    font-size: 18px;
}