.navbar-bg {
    height: 60px;
    /*left: 0px;*/
    /*z-index: 999;*/
    background: var(--cor-bg-navbar);
    /*top: 0;*/
    transition: top 0.3s ease-in-out;
    /*box-shadow: inset 0 -1px 0 #dcdcdc;*/
    box-shadow: -1px 10px 50px 0 rgba(173, 179, 191, .4);
}

.nav-up {
    top: -60px;
    transition: top 0.3s ease-in;

}

