.active > .page-link, .page-link.active {
    background-color: #fff;
    border-color: var(--bs-secondary);
    color: var(--bs-secondary);
    font-weight: 500;
}

.pagination {
    --bs-pagination-color: var(--mycolor-secondary);
}

table:not(.table-sm) thead th {
    background-color: rgba(0, 0, 0, 0.04);
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table > :not(caption) > * > * {
    border-bottom-width: 0px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: #FAFAFA;
}

.table {
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.02);
}

@media screen and (max-width: 600px) {
    table:has(tr td:nth-child(4)) {
        width: 100%;
    }

    table:has(tr td:nth-child(4)) thead {
        display: none;
    }

    table:has(tr td:nth-child(4)) td {
        border-bottom: 1px solid #efefef;
    }

    table:has(tr td:nth-child(4)) tr {
        border-bottom: 1px solid #b7b7b7;
        margin-bottom: 8px;
    }

    table:has(tr td:nth-child(4)) td {
        display: flex;
        flex-wrap: wrap;
    }

    table:has(tr td:nth-child(4)) td::before {
        content: attr(data-title);
        font-weight: 600;
        width: 120px;
        font-size: 0.85em;
    }

    table:has(tr td:nth-child(4)) td .td-break {
        width: 100%;
        text-align: center;
    }

    table:has(tr td:nth-child(4)) td.semtitle {
        text-align: center;
    }

    table:has(tr td:nth-child(4)) td.semtitle::before {
        width: auto;
    }

    table:has(tr td:nth-child(4)) a {
        width: 100%;
        margin-top: 5px;
    }

    .table:has(tr td:nth-child(4)):not(.table-sm):not(.table-md):not(.dataTable) td,
    .table:has(tr td:nth-child(4)):not(.table-sm):not(.table-md):not(.dataTable) th {
        padding: 0.75rem;
        vertical-align: middle;
    }

    .table-responsive table:has(tr td:nth-child(4)) {
        min-width: 0px;
    }
}