{% extends "gestaopessoas/modal-skeleton.twig" %}

{% block content_modal %}

						<input  id='secao' value='arquivo' hidden>


    <input name="CODPESSOA" id='codpessoa' value='{{ FUNCIONARIO.CODPESSOA }}' hidden>
    <input name="CODFUNCIONARIO" id='codfuncionario' value='{{ FUNCIONARIO.CODFUNCIONARIO }}' hidden>
    <input name="CODARQUIVO" id='codarquivo' hidden>


    <input type='hidden' name="acao" id='action'>
    <div class="row">
        <div class="form-group col-12 col-md-12 float-left">
            <label>Tipo de Arquivo</label>
            <div class="float-end">
                <a href="/gestaopessoas/gerenciamento-tipoarquivo/" class="small" target="_blank">Não encontrei</a>
            </div>
            <select name="CODTIPOARQUIVO" id="codtipoarquivo" class="select2 form-control" required>
                <option value="" disabled selected>Selecione um arquivo</option>
                {% for item in  getDaos('GpTipoArquivoDao', 'buscarTodos') %}
                    <option value="{{ item.CODTIPOARQUIVO }}">{{ item.NOME }}</option>
                {% endfor %}

            </select>
            <div class="invalid-feedback">
                Preencha o campo corretamente
            </div>
        </div>
    </div>

    <div class="row p-0">
        <div class="form-group col-12 col-md-12 float-left">
            <label class="form-label">Arquivo</label>
            <input name="ARQUIVO" id="arquivo" type="file" class="form-control" accept="application/pdf" required/>

            <div class="invalid-feedback">
                Preencha o campo corretamente
            </div>
        </div>
    </div>

{% endblock %}

{% block script_modal %}
    <script>


        // Limpar Modal para Cadastro
        function abrirModalCadastro() {
            $("#formFuncionarios").trigger("reset");
            $('#action').val('cadastrar_arquivo');
            $('#tituloModalGP').html('Cadastrar Arquivo');
            $('#btnSubmit').html('Cadastrar');
            $('#arquivo').attr('hidden', false);


            {% if (SERVICO.ALTERAR=="1") %}
            $("#btnExcluir").attr("hidden", true);
            {% endif %}
            $('#codtipoarquivo').val(null);
            updateSelect2('Selecione um Arquivo')
            $("#modalFuncionarios").modal('show');
        }

        // Abrir modal preenchido
        function fillModal(data) {
            console.log(data);
            $('#btnSubmit').html('Salvar');
            $("#formFuncionarios").trigger("reset");
            $('#tituloModalGP').html('Editar Arquivo');
            var dependente = data;
            $('#codfuncionario').val(data.CODFUNCIONARIO);
            $('#codarquivo').val(data.CODARQUIVO);
            $('#arquivo').attr('hidden', true);

            $('#action').val('editar_arquivo');
            $('#codtipoarquivo').val(data.CODTIPOARQUIVO);
            updateSelect2('Selecione um Arquivo');


            updateSelect2('Selecione um cargo');
            {% if (SERVICO.ALTERAR=="1") %}
            $("#btnExcluir").attr("hidden", false);
            {% endif %}

        }

     
    </script>
{% endblock %}
