{% set id = id|default(random()) %}
<div id="divCpf{{ id }}">
    <div class="form-group">
        <div class="float-end">
            <a href="javascript:void(0)" onclick="document.getElementById('divCpf{{ id }}').remove();" class="label-link text-danger"><span class="mdi mdi-trash-can-outline"></span> Remover</a>
        </div>
        <label>CPF</label>
        <input type="text" name="CPF[]" class="form-control" placeholder="000.000.000-00" onkeyup="mascara(this,mcpf)" value="{{ value }}" maxlength="14">
        <div class="invalid-feedback">Preencha o campo corretamente</div>
    </div>
    <hr>
</div>