<nav class="navbar navbar-expand-lg navbar-bg nav-down fixed-top navbar-dark d-flex flex-wrap align-content-center" id="navbar">
    <div class="container">
        <div class="col">
            <a href="/" class="navbar-brand"><img alt="logo" src="/assets/img/logo_white.png" height="42px" /></a>
        </div>
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item dropdown">
                {% if PRIMEIRONOME %}
                <a href="#" data-toggle="dropdown" class="nav-link nav-link-navbar dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="nlCadaLink d-flex flex-column align-items-center">
                        <span class="nlIcone mdi mdi-run"></span>
                        <div class="nlLink font-weight-light text-uppercase">{{ PRIMEIRONOME ?: 'ATLETA' }}</div>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-navbar dropdown-menu-end">
                    <li>
                        <p class="dropdown-header">Olá, {{ PRIMEIRONOME ?: 'Atleta' }}</p>
                    </li>
                    <li>
                        <a href="/atleta/" class="dropdown-item font-weight-light">
                            <i class="mdi mdi-18px mdi-account-outline"></i> Perfil
                        </a>
                    </li>
                    <li>
                        <a href="/institucional/sobre/" class="dropdown-item font-weight-light"><span class="mdi mdi-18px mdi-information-slab-box-outline"></span> Sobre</a>
                    </li>
                    <li>
                        <a href="/institucional/privacidade/" class="dropdown-item font-weight-light"><span class="mdi mdi-18px mdi-information-slab-box-outline"></span> Termo de Uso</a>
                    </li>
                    <li class="">
                        <div class="dropdown-item font-weight-light">
                            <i class="mdi mdi-18px mdi-brightness-5"></i> Modo escuro
                            <label class="custom-switch mt-2 float-end">
                                <input type="checkbox" class="custom-switch-input" onchange="modeDark()"
                                    id="checkboxModeDark" value="1">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li><a href="/usuario/logoff" class="dropdown-item font-weight-light">
                            <span class="mdi mdi-18px mdi-logout"></span> Sair da conta</a>
                    </li>
                </ul>
                {% else %}
                <a href="/atleta/" class="nav-link nav-link-navbar" aria-expanded="false">
                    <div class="nlCadaLink d-flex flex-column align-items-center">
                        <span class="nlIcone mdi mdi-run"></span>
                        <div class="nlLink font-weight-light text-uppercase">Entrar</div>
                    </div>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<script defer>
    window.addEventListener('load', function () {
        verificaModeDark();
    })
</script>