{% extends "gestaopessoas/modal-skeleton.twig" %}

{% block modal %}
						<input  id='secao' value='dependente' hidden>

<!--MODAL -->
<script src="http://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
<div  class="modal fade" id="modalFuncionarios" data-hash="#modal-funcionarios" aria-labelledby="modalFuncionarios" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-telaCheia" role="document">
		<div class="modal-content modal-lg modal-content-telaCheia">
			<div class="modal-header">
				<h5 class="modal-title fs-5" id="tituloModalGP">Titulo do Modal</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
			</div>
			<div class="modal-body pl-1 pr-1">
				<form id="formFuncionarios" class="needs-validation" novalidate action="/gestaopessoas/funcionarios-perfil-action" method="post" enctype='multipart/form-data'>
					
					<input name="CODPESSOA" id='codpessoa' value='{{FUNCIONARIO.CODPESSOA}}' hidden>
					<input name="CODFUNCIONARIO" id='codfuncionario' value='{{FUNCIONARIO.CODFUNCIONARIO}}' hidden>
					<input type='text' name="acao" id='acao' hidden>
					{% include "gestaopessoas/components/div_dependente.html.twig" %}

					

					
			

				
						<div class="row mt-5 justify-content-between">
							
						<div class='col-md-6 cold-12'>
							{% if (SERVICO.EXCLUIR=="1") %}

							<button type="button" onclick='excluir()' id="btnExcluir"
														class="btn btn-outline-secondary btn-round btn-lg col-md-6 col-lg-4 col-12  mt-2">
													<span class="mdi mdi-trash-can-outline"></span> Excluir
							</button>
							{% endif %}

						</div>

							<div class="d-grid gap-2 d-md-flex justify-content-md-end col-md-6 col-12">
								<a href="javascript:void(0)" class="btn btn-lg btn-link btn-round col-md-6 col-lg-4 col-12 float-right mr-md-2 mt-2" data-bs-dismiss="modal">
									Voltar
								</a>

								{% if (SERVICO.ALTERAR=="1") %}

									<button type="submit" id="btnSubmit" class="btn btn-lg btn-primary btn-round col-md-6 col-12 col-lg-4 float-right mt-2">
										Alterar
									</button>
								{% endif %}

							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>

// Limpar Modal para Cadastro
	function abrirModalCadastro(){
		$("#formFuncionarios").trigger("reset");
		$('#acao').val('cadastrar_dependente');
		$('#situacao').attr('checked', true);
		$('#tituloModalGP').html('Cadastrar Dependente') ; 
		$('#btnSubmit').html('Cadastrar') ; 
		
		{% if (SERVICO.ALTERAR=="1") %}
			$("#btnExcluir").attr("hidden",true);
		{% endif %}

		updateSelect2('Selecione')

		$("#modalFuncionarios").modal ('show');
	}

//Abrir modal preenchido 
	function fillModal (data) {
		console.log(data) ; 
		$('#btnSubmit').html('Salvar') ; 
		$("#formFuncionarios").trigger("reset");
		$('#tituloModalGP').html('Editar ' + data.VINCULO + ' ' +  data.NOME) ; 

		var dependente = data;

		$('#codfuncionario').val(data.CODFUNCIONARIO);
		$('#codpessoa_dependente').val(data.CODPESSOA_DEPENDENTE);
		$('#acao').val('editar_dependente');

		$('#cpf').val(data.CPF);
		$('#cpf').mask('000.000.000-00');


		$('#nome').val(data.NOME);
		$('#coddependente_tipo').val(data.CODDEPENDENTE_TIPO);
		$('#certidao').val(data.CERTIDAO);
		$('#datanascimento').val(data.DATANASCIMENTO);

		$('#pensao').attr('checked', (data.PENSAO == '1' ? true : false) );
		$('#ir').attr('checked', (data.IR == '1' ? true : false) );
		$('#sf').attr('checked', (data.SF == '1' ? true : false) );

		updateSelect2('Selecione')

		{% if (SERVICO.ALTERAR=="1") %}
			$("#btnExcluir").attr("hidden",false);
		{% endif %}

	}



	
</script>

{% endblock %}