<div class="row">
    <div class="col-md-6 col-12 p-0">
        {% if(SERVICO.SALVAR=="1") %}
            <button type="button" id='btnTopTable'
                    onclick="window.location.href = '/protocolo/abrirprotocolo-dinamico/?return=/recursos/solicitacoes-cadastro/'"
                    class="btn btn-outline-secondary col-md-3 col-lg-2 col-12 mb-1 mb-md-0"><span
                        class="mdi mdi-plus"></span> Novo
            </button>
        {% endif %}
    </div>
    <div class="col-md-6 col-12 p-0">
        <form action="{{ SERVER['REQUEST_URI'] }}" class="mb-0">
            <div class="input-group justify-content-end">
                <div data-bs-toggle='modal' data-bs-target='#modal_filtros_pesquisa'
                     data-bs-focus="false" aria-hidden="true" class='btn btn-outline-secondary'
                     tabindex="-1">
                    <span class="mdi mdi-magnify"></span>
                    Filtros
                </div>
                <button type="button" class="btn btn-outline-secondary"
                        onclick="window.location.href = './?all'">
                    <span class="mdi mdi-format-list-bulleted"></span>
                    Todos
                </button>
            </div>
        </form>
    </div>
</div>