<header class="view-navbar">
    <div class="container-fluid my-container pt-1">
        <div class="px-0" style="letter-spacing: 0.8px !important;">
            <div class="row m-0">
                <div class="w-auto pe-0 align-middle" style="line-height: 0px;padding-top: 16px;margin-bottom: 10px;"><span class="mdi mdi-48px {{ TITLEIMAGE }}" style="color: grey"></span></div>
                <div class="col-9 p-0">
                    <div class="ps-2 pb-2">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb breadcrumb-custom">
                                {{ TITLEBREADCRUMB | raw}}
                            </ul>
                        </nav>
                    </div>
                    <div class="ps-2">
                        <p class="title-page">{{ TITLE }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
