{% extends "gestaopessoas/modal-skeleton.twig" %}

{% block content_modal %}

<!--MODAL -->
						<input  id='secao' value='departamento' hidden>

					<input name="CODFUNCIONARIO_DEPARTAMENTO" id='codfuncionario_departamento'  hidden>

					<input type='text' name="acao" id='acao' hidden>
					<div class="row">
							<div class="form-group col-12 col-md-12 float-left">
								<label>Departamento</label>
								<div class="float-end">
									<a href="/gestaopessoas/gerenciamento-departamentos/" class="small" target="_blank">Não encontrei</a>
								</div>
								<select name="CODDEPARTAMENTO" id="coddepartamento" class="select2 form-control"  required >
									<option value="" disabled selected >Selecione um departamento</option>
									{% for depts in  getDaos('GpDepartamentoDao', 'buscarTodos')  %}
										<option value="{{depts.CODDEPARTAMENTO}}">{{depts.NOME}}</option>
									{% endfor %}
									
								</select>
								<div class="invalid-feedback">
									Preencha o campo corretamente
								</div>
							</div>
						
						
					</div>

					<div class="row p-0">

						<div class="form-group col-12 col-md-6 float-left">
							<label class="form-label">Data de Início</label>
							<input name="DATAINICIO" id="datainicio" type="date" class="form-control"  autocomplete="nope" required />
							<div class="invalid-feedback">
								Preencha o campo corretamente
							</div>
						</div>

						<div class="form-group col-12 col-md-6 float-left">
							<label class="form-label">Data de Término</label>
							<input name="DATAFIM" id="datafim" type="date" class="form-control"  autocomplete="nope" />
							<div class="invalid-feedback">
								Preencha o campo corretamente
							</div>
						</div>
					
					</div>

				

					


{% endblock %}
{% block script_modal %}
<script >

// Limpar Modal para Cadastro
	function abrirModalCadastro(){
		$("#formFuncionarios").trigger("reset");
		$('#acao').val('cadastrar_departamento');
		$('#situacao').attr('checked', true);
		$('#tituloModalGP').html('Cadastrar Departamento') ; 
		$('#btnSubmit').html('Cadastrar') ; 
		
		{% if (SERVICO.ALTERAR=="1") %}
			$("#btnExcluir").attr("hidden",true);
		{% endif %}
		$('#coddepartamento').val(null);
		updateSelect2('Selecione um departamento')
		$("#modalFuncionarios").modal ('show');
	}

//Abrir modal preenchido 
	function fillModal (data) {
		console.log(data) ; 
		$('#btnSubmit').html('Salvar') ; 
		$("#formFuncionarios").trigger("reset");
		$('#tituloModalGP').html('Editar Departamento') ; 

		var dependente = data;

		$('#codfuncionario').val(data.CODFUNCIONARIO);
		$('#codfuncionario_departamento').val(data.CODFUNCIONARIO_DEPARTAMENTO);
		$('#acao').val('editar_departamento');
		$('#datainicio').val(data.DATAINICIO);
		$('#datafim').val(data.DATAFIM);
		$('#coddepartamento').val(data.CODDEPARTAMENTO);
		updateSelect2('Selecione um departamento')

		{% if (SERVICO.ALTERAR=="1") %}
			$("#btnExcluir").attr("hidden",false);
		{% endif %}

	}

	
</script>

{% endblock %}