<main>
    <section class="section">
        <div class="container my-container">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card shadow-1">
                        <div class="card-body pt-4">
                            <div class="row">
                                <div class="col">
                                    <h3>Somos movidos a desafios!</h3>
                                    <p>
                                        A ViaEsporte é uma plataforma inovadora que conecta atletas, organizadores e
                                        patrocinadores em um só lugar.</p>
                                    <p>
                                        Nossa missão é facilitar a organização e participação em eventos esportivos,
                                        promovendo uma experiência única e inesquecível para todos os envolvidos.
                                    </p>
                                    <p>
                                        Com uma interface intuitiva e recursos avançados, garantimos que cada
                                        evento seja um sucesso, desde a inscrição até a linha de chegada.
                                    </p>
                                    <p>
                                        Seja você um atleta em busca de novos desafios ou um organizador
                                        apaixonado por esportes, a ViaEsporte é o seu parceiro ideal.
                                    </p>
                                    <p>
                                        Junte-se a nós e descubra como podemos transformar sua experiência esportiva!
                                    </p>

                                    <h4 class="mt-4">Nossa Tecnologia</h4>

                                    <p>
                                        Desenvolvida pela <a href="https://bessoftware.com" target="_blank">BeS
                                            Software</a>, empresa referência em soluções tecnológicas sob
                                        medida, a ViaEsporte combina inovação, agilidade e experiência para atender
                                        atletas, organizadores e patrocinadores de todo o Brasil.
                                    </p>
                                    <p>
                                        Nossa plataforma foi projetada para oferecer máxima performance e
                                        acessibilidade.
                                    </p>
                                    <p>
                                        Com design responsivo,
                                        adapta-se perfeitamente a qualquer dispositivo - de smartphones a desktops -
                                        garantindo uma experiência
                                        fluida independente do tamanho da tela.
                                    </p>
                                    <p>
                                        Otimizada para funcionar mesmo em conexões mais lentas, mantém
                                        a qualidade e estabilidade que você precisa.
                                    </p>

                                    <h4 class="mt-4">O que oferecemos</h4>
                                    <ul>
                                        <li>Página personalizada para o evento.</li>
                                        <li>Inscrições online simplificadas e seguras.</li>
                                        <li>Gestão do evento de ponta a ponta.</li>
                                        <li>Classificação e ranking automáticos.</li>
                                        <li>Relatórios e métricas em tempo real.</li>
                                        <li>Suporte especializado e humanizado.</li>
                                        <li>Integração com redes sociais para compartilhamento de conquistas.</li>
                                        <li>Plataforma segura e confiável, com proteção de dados.</li>
                                        <li>Múltiplas opções de pagamentos para o atleta.</li>
                                        <li>Suporte técnico disponível para dúvidas e orientações.</li>
                                    </ul>



                                    <hr class="my-5">

                                    <h5>Contato</h5>
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-1 py-0">
                                            <span class="mdi mdi-email-outline mdi-24px text-secondary lh-1"></span>
                                            <a href="mailto:email@email.com">email@email.com</a>
                                        </li>
                                        <li class="d-flex align-items-center gap-1">
                                            <span class="mdi mdi-instagram mdi-24px lh-1"
                                                style="color: #E1306C;"></span>
                                            <a href="https://www.instagram.com/user"
                                                target="_blank">@_usuario</a>
                                        </li>
                                    </ul>

                                    <h5 class="mt-4">BeS Software</h5>
                                    <p>
                                        CNPJ: 00.000.000.0000<br>
                                        Sede Fiscal:  São Paulo/SP.
                                    </p>


                                    <hr class="my-5">

                                    <h5 class="mt-4">Nossos Termos de Uso</h5>
                                    <p>
                                        Acesse nossos <a href="/institucional/privacidade/">termos de uso e política de
                                            privacidade</a> para entender como utilizamos seus dados e garantimos sua
                                        segurança.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>