<main>
    <div class="wrapper container">
        <div>
            {% include "gestaopessoas/components/div_sidebar.twig" %}
        </div>
        <div class="container my-container">
            <div class="card shadow-1 h-100">
                <div class="card-body">
                    <section class="section">
                        <div class="row">
                            <div class="d-sm-inline-block" id="divSidebarCollapse-card">
                                <div class="d-grid gap-2">
                                    <button id="sidebarCollapse-card" class="btn btn-sm btn-outline-secondary ">
                                        <span class="mdi mdi-chevron-left"></span>
                                        Menu
                                    </button>
                                </div>
                            </div>
                            {% block topButton %}{% endblock %}

{% block conteudo %}
    <h6>{{ tituloPagina }}</h6>
    <div class="row col">
        <div class="col-md-12 p-0 d-flex justify-content-end py-3">
            {% if(SERVICO.SALVAR=="1") %}
                <button type="button" id='btnTopTable' onclick='abrirModalCadastro()'
                        class="btn btn-outline-secondary col-md-3 col-lg-2 col-12 mb-1 mb-md-0">
                    <span class="mdi mdi-plus"></span>
                    Novo
                </button>
            {% endif %}
        </div>
    </div>
    {{ TABLE_COMPONENT | raw }}
{% endblock %}

 </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>



{% block modal %}
	<!--MODAL -->
	<div class="modal fade" id="modalFuncionarios" data-hash="#modal-funcionarios" aria-labelledby="modalFuncionarios"
		 aria-hidden="true" data-bs-focus="false">
		<div class="modal-dialog modal-lg modal-dialog-telaCheia" role="document">
			<div class="modal-content modal-lg modal-content-telaCheia">
				<div class="modal-header">
					<h5 class="modal-title fs-5" id="tituloModalGP">Titulo do Modal</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
				</div>
				<div class="modal-body pl-1 pr-1">
				{% block header_modal %}
					<form id="formFuncionarios" class="needs-validation" novalidate
						  action="/gestaopessoas/funcionarios-perfil-action" method="post"
						  enctype='multipart/form-data'>
						<input name="JUSTIFICATIVA" id='justificativa' hidden>

						<input name="CODPESSOA" id='codpessoa' value='{{ FUNCIONARIO.CODPESSOA }}' hidden>
						<input name="CODFUNCIONARIO" id='codfuncionario' value='{{ FUNCIONARIO.CODFUNCIONARIO }}' hidden>

{% endblock %}
						{% block content_modal %}{% endblock %}
						{% block bottom_modal %}
							<div class="row mt-5 justify-content-between">
								<div class='col-md-6 cold-12'>
									{% if (SERVICO.EXCLUIR=="1") %}
										<button type="button" onclick='excluir()' id="btnExcluir"
												class="btn btn-outline-secondary btn-round btn-lg col-md-6 col-lg-4 col-12  mt-2">
											<span class="mdi mdi-trash-can-outline"></span> Excluir
										</button>
									{% endif %}
								</div>
								<div class="d-grid gap-2 d-md-flex justify-content-md-end col-md-6 col-12">
									<a href="javascript:void(0)"
									   class="btn btn-lg btn-link btn-round col-md-6 col-lg-4 col-12 float-right mr-md-2 mt-2"
									   data-bs-dismiss="modal">
										Voltar
									</a>
									{% if (SERVICO.ALTERAR=="1") %}
										<button type="button" id="btnSubmit" onclick='insereJustificativa()'
												class="btn btn-lg btn-primary btn-round col-md-6 col-12 col-lg-4 float-right mt-2">
											Salvar
										</button>
									{% endif %}
								</div>
							</div>
						{% endblock %}
					</form>
				</div>
			</div>
		</div>
	</div>

	{% block script_modal %}


{% endblock %}

{% endblock %}
<script>

   

    document.getElementById("sidebarCollapse-card").addEventListener("click", function () {
        $('#sidebarCollapse-card').toggleClass("d-block");
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
    });


	function excluir(){

  Swal.fire({
				title: 'Confirma exclusão?',
				text: 'Será cadastrado um andamento',
				input: 'textarea', 
				inputPlaceholder: "Insira a Justificativa...",
				inputAttributes: {
					"aria-label": "Insira a Justificativa..."
				},
				
				showCancelButton: true,
				confirmButtonColor: '#2AB164',
				confirmButtonText: 'Sim',
				cancelButtonText: 'Não',
   		 })
        .then((result) => {
				if(result.isConfirmed){
				let secao = $('#secao').val();
				let acao = `excluir_${secao}`; 
				$('#acao').val(acao);

				$('#justificativa').val(document.getElementById('swal2-textarea').value);
				submitForm("btnExcluir", "formFuncionarios")
				}
            
        });






}



    	function insereJustificativa(){
		 let botaoCadastrarFormulario = document.getElementById('btnSubmit'); 
          validaForm();
        if(document.getElementById('formFuncionarios').checkValidity()){
        if(botaoCadastrarFormulario.innerHTML == 'Salvar'){
            Swal.fire({
				title: 'Confirma alteração?',
				text: 'Será cadastrado um andamento',
				input: 'textarea', 
				inputPlaceholder: "Insira a Justificativa...",
				inputAttributes: {
					"aria-label": "Insira a Justificativa..."
				},
				
				showCancelButton: true,
				confirmButtonColor: '#2AB164',
				confirmButtonText: 'Sim',
				cancelButtonText: 'Não',
   		 })
        .then((result) => {
				if(result.isConfirmed){
				$('#justificativa').val(document.getElementById('swal2-textarea').value);
				submitForm("btnSubmit", "formFuncionarios")
				}
            
        });

        }else{
		submitForm("btnSubmit", "formFuncionarios")
		}

        }else{
            alertError("Preencha todos os campos corretamente!")

        }
	}

</script>