<main class="view-navbar">
    <section class="section">
        <div class="container mt-1">
            <div class="page-error">
                <div class="page-inner d-grid gap-2 col-md-6 col-12 mx-auto">
                    <img src="/assets/img/svg/empty.svg" class="img-responsive" height="200px"/>
                    <div class="page-description mt-3 justify-content-center">
                        <h3>404 - Ops, Não encontramos essa página.</h3>
                    </div>
                    <div class="page-search">
                        <div class="input-group-btn">
                            <a href="/" class="btn btn-primary">
                                Página incial
                            </a>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="/"><img src="/assets/img/logo.png" height="30px"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

