<main>
    <div class="container my-container">
        <section class="section">
            <div class="card shadow-1">
                <div class="card-body pt-4">
                    <form id="formInformacoesUsuario" class="needs-validation" novalidate
                          action="../funcionarios-cadastro-action" method="post"
                          enctype='multipart/form-data' onsubmit="return checkCPF();">
                        <input hidden name='CODPESSOA' value='{{ PESSOA.CODPESSOA }}'>

                        <div class="row">
                            <div class="row"><div class="section-title col-12">Informações</div></div>
                            {% embed "gestaopessoas/components/div_pessoa.twig" %}
                                {% block top %}
                                    {% embed  "gestaopessoas/components/div_pessoafisica.twig" %}

                                    {% endembed %}

                                    <div class="row">
                                        <div class="section-title col-12">Informações do Funcionário</div>
                                    </div>

                                    {% embed "gestaopessoas/components/div_funcionario.twig" %}{% endembed %}

                                {% endblock %}
                            {% endembed %}
                            {% embed "gestaopessoas/components/div_endereco.twig" %}{% endembed %}
                        </div>


                        <div class="row py-3">
                            <div class="col-12">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end col-12">

                                    <button type="submit" id="btnSalvarUsuario"
                                            class="btn btn-lg btn-primary btn-round col-md-3 col-lg-2 float-right mt-2">
                                        Cadastrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

<script>
    // EXECUTAR ESSA FUNCAO AO CLICAR NO BOTAO DA PAGINA
    (function () {
        window.onpageshow = function(event) {
            if (event.persisted) {
                clickBotaoProgressInativo('btnSalvarUsuario',"Cadastrar");
            }
        };
    })();
</script>
