<main>
    <section class="section">
        <div class="container my-container">
            <div class="col-12 p-0">
                <div class="card sombra-1">
                    <div class="card-header">
                        <h4>{{ titleCardComponent }}</h4>
                    </div>
                    <div class="card-body pt-4">
                        <div class="col p-2">
                            <form class="needs-validation" novalidate="" action="/{{ SERVICO.url }}-cadastro/"
                                  method="get" enctype='multipart/form-data'>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label>Usuário</label>
                                        <select class="form-control select2" id="id" name="id" required>
                                            <option value="">Selecione</option>
                                            {% for item in USUARIOS %}
                                                <option value="{{ item.CODUSUARIO}}">{{ item.NOME}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <button type="submit"
                                                class="btn btn-primary btn-lg btn-round col-sm-3 col-lg-2 font-weight-bold"
                                                style="float: right;">
                                            Avançar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
