{% extends "gestaopessoas/modal-skeleton.twig" %}


{% block conteudo %}
    <form id="formFuncionarios" class="needs-validation" novalidate action="/gestaopessoas/funcionarios-perfil-action"
          method="post" enctype='multipart/form-data'>
		<input name="JUSTIFICATIVA" id='justificativa' hidden>
        		<input  id='secao' value='documentos' hidden>


        <input type="hidden" name="CODPESSOA" value='{{ PESSOA.CODPESSOA }}'>
        <input type="hidden" name="CODFUNCIONARIO" value='{{ FUNCIONARIO.CODFUNCIONARIO }}'>

        {% include "gestaopessoas/components/div_documentos_funcionario.twig" %}
        <input type="hidden" name="acao" value='documento'>

        <div class="row" {{ SERVICO.ALTERAR == 1 ? '' : 'hidden' }}>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

               <div  id="btnSubmit" onclick='insereJustificativa()'
				class="btn btn-lg btn-primary btn-round col-md-6 col-12 col-lg-4 float-right mt-2">Salvar</div>
            </div>
        </div>
    </form>
{% endblock %}

