{% embed "components/page_table_default/page_table_default.html.twig" %}{% endembed %}


<div class="modal fade" id="modalCargos" data-hash="#modal-Cargos" aria-labelledby="modalCargos" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-telaCheia" role="document">
		<div class="modal-content modal-lg modal-content-telaCheia">
			<div class="modal-header">
				<h5 class="modal-title fs-5" id="tituloModalGP">Cadastrar Cargo</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
			</div>
			<div class="modal-body pl-1 pr-1">
				<form id="formCargos" class="needs-validation" novalidate action="/gestaopessoas/gerenciamento-cargos-action" method="post" enctype='multipart/form-data'>
					<div class="row">
						<div class="col-12 p-0">
							<div class="form-group col-12 col-md-12 float-left">
								<label>Nome</label>
								<input name="NOME" id="nome" type="text" class="form-control" placeholder="Nome do cargo" required>
								<div class="invalid-feedback">
									Preencha o campo corretamente
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 p-0">
							<div class="form-group col-12 col-md-12 float-left">
								<label>Sigla</label>
								<input name="SIGLA" id="sigla" type="text" class="form-control" maxlength='10' minlength='2' placeholder="Sigla de Identificação" required>
								<div class="invalid-feedback">
									Preencha o campo corretamente
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 p-0">
						<div class="form-group col-12 col-md-12 float-right">

							<label class="custom-switch me-3">
								<input type="checkbox" class="custom-switch-input" name="EXCLUIDO" id="excluido">
								<span class="custom-switch-indicator"></span>
								<span class="custom-switch-description-right">Ativo</span>
							</label>
						</div>
					</div>
					<input name="CODCARGO" id='codcargo' hidden>
					<input type='text' name="acao" id='acao' hidden>

					<div class="row mt-5">
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<a href="javascript:void(0)" class="btn btn-lg btn-link btn-round col-md-3 col-lg-2 float-right mr-md-2 mt-2" data-bs-dismiss="modal">
								Voltar
							</a>
							<button type="submit" id="btnSubmit" class="btn btn-lg btn-primary btn-round col-md-3 col-lg-2 float-right mt-2">
								Alterar
							</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>

	window.addEventListener('load', () => {
	})

	if (document.getElementById ('btnTopTable') !== null) {
		document.getElementById('btnTopTable').removeAttribute('onclick')
		document.getElementById('btnTopTable').addEventListener('click', () => {
			$("#formCargos").trigger("reset");
			$('#acao').val('cadastrar');
			$('#excluido').attr('checked', true);
			$('#btnSubmit').html('Cadastrar');
			$('#tituloModalGP').html('Cadastrar Cargo');

			$("#modalCargos").modal('show');
		})
	}

//Abrir modal preenchido 
function fillModal (data) {
	$('#btnSubmit').html('Alterar') ; 
	$("#formCargos").trigger("reset");

	$('#tituloModalGP').html('Editar '+ data.NOME) ; 

	var dependente = data;
	$('#nome').val(data.NOME);
	$('#acao').val('editar');
	$('#codcargo').val(data.CODCARGO);
	$('#sigla').val(data.SIGLA);

	$('#excluido').attr('checked', (data.EXCLUIDO == '0' ? true : false) );


}
</script>
